<!DOCTYPE html>
<html>
<head>
  <title>Website3l</title>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="markn.co">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'application-btm' %>

</body>
</html>
