!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "markn.co", :name => "author"}
    %title Live Love Laugh Conference
    = csrf_meta_tags
    = stylesheet_link_tag    'application-dash', media: 'all'
    = javascript_include_tag 'application-dash'

  %body{ class: "#{controller_name} #{action_name}", data: { controller: params[:controller], action: params[:action]} }
    .body
      = render 'layouts/default/header'
      .container-fluid
        .row
          - if user_signed_in?
            = render 'layouts/default/sidebar'
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
              - if Rails.env.development?
                = params
              = yield
          - else
            - if Rails.env.development?
              = params
            = yield
      = render 'layouts/default/footer'
    = javascript_include_tag 'application-dash-btm'
